/*font-family: 'MonteCarlo', cursive;
font-family: 'Montserrat', sans-serif;
font-family: 'Zilla Slab', serif;*/

body {
  margin: 0px;
  font-family: "Montserrat", sans-serif;
  text-align: center;
}

h1 {
  font-family: "MonteCarlo", cursive;
  margin: 0px;
  font-size: 5.725rem;
  /*color: #11999e;*/
  color: #66bfbf;
}

hr {
  border-style: dotted none none none;
  border-color: #eaf6f6;
  border-width: 7px;
  width: 50px;
}

h2 {
  font-family: "Zilla Slab", serif;
  font-size: 2.5rem;
  /* color: #11999e; */
  color: #66bfbf;
  font-weight: normal;
}

h3 {
  color: #11999e;
}

.top-container {
  /* background-color: #edf6e5; */
  background-color: #eaf6f6;
  margin: 0px;
  padding: 30px 30px 10px 30px;
}

.middle-container {
  /* background-color: #b5eaea; */
  width: 50%;
  margin-top: auto;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
}

.bottom-container {
  /* background-color: #f38ba0; */
  background-color: #66bfbf;
  padding: 20px;
  width: 100%;
  display: block;
}

.bottom-cloud {
  position: absolute;
}

.top-cloud {
  position: relative;
  left: 200px;
}

.footer-link {
  color: #11999e;
  display: inline;
  padding: 15px;
  margin: 10px;
}

.skill-row {
  margin: 100px auto 100px auto;
  text-align: left;
  line-height: 2;
}

.java-img {
  width: 25%;
  float: left;
  padding-right: 30px;
}

.football-img {
  width: 25%;
  float: right;
  padding-left: 20px;
}
.my-description {
  color: #40514e;
  padding-bottom: 35px;
  font-weight: 100;
}

.BUTTON_QGS {
  background: #66bfbf;
  background-image: -webkit-linear-gradient(top, #66bfbf, #66bfbf);
  background-image: -moz-linear-gradient(top, #66bfbf, #66bfbf);
  background-image: -ms-linear-gradient(top, #66bfbf, #66bfbf);
  background-image: -o-linear-gradient(top, #66bfbf, #66bfbf);
  background-image: -webkit-gradient(to bottom, #66bfbf, #66bfbf);
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  color: #ffffff;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 100;
  padding: 10px;
  -webkit-box-shadow: 1px 1px 1px 0 #000000;
  -moz-box-shadow: 1px 1px 1px 0 #000000;
  box-shadow: 1px 1px 1px 0 #000000;
  text-shadow: -1px 1px 1px #000000;
  border: solid #337fed 1px;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  text-align: center;
}

.copy {
  color: #eaf6f6;
}
